<form (ngSubmit) = "crearNoticia($event)">
    <div class="row">
        <div class="col-lg-3">
            <label>Título:</label>
            <input type="text" name="titulo" [(ngModel)]="newNoticia.titulo"/>
        </div>
        <div class="col-lg-3">
            <label>Url:</label>
            <input type="text" name="titulo" [(ngModel)]="newNoticia.imagen"/>
        </div>
        <div class="col-lg-3">
            <label>Texto:</label>
            <input type="text" name="titulo" [(ngModel)]="newNoticia.texto"/>
        </div>
        <div class="col-lg-3">
            <label>Fecha:</label>
            <input type="text" name="titulo" [(ngModel)]="newNoticia.fecha"/>
        </div>
        <div class="col-lg-3">
            <button (click)="imprime()">Crear noticia</button>
        </div>
    </div>
</form>
